---
import Layout from '../layouts/MainLayout.astro';
import { Navbar } from '../components/Navbar.jsx';
import { HeroSection } from '../components/HeroSection.jsx'; 
import { AboutSection } from '../components/AboutSection.jsx';
import { ProjectsSection } from '../components/ProjectsSection.jsx'; 
import { SkillSection } from '../components/SkillSection.jsx'; 
import { ContactSection } from '../components/ContactSection.jsx'; 
import { StarBackground } from '../components/StarBackground.jsx';
---
<Layout title="Ulysse Castello | Software Developer">
    <StarBackground client:load />
    <Navbar client:load />
    <main>
        <HeroSection client:load />
        <AboutSection client:load />
        <SkillSection client:load />
        <ProjectsSection client:load />
        <ContactSection client:load />
    </main>
</Layout>