---
import '../styles/global.css';
const { title = "Portfolio" } = Astro.props;
---

<html lang="es" class="dark">
  <head>
    <link rel="icon" type="image/png" href="/favicon.png" />
    <script is:inline>
      const theme = (() => {
        if (typeof localStorage !== 'undefined' && localStorage.getItem('theme')) {
          return localStorage.getItem('theme');
        }
        return 'dark';
      })();
    
      if (theme === 'light') {
        document.documentElement.classList.remove('dark');
      } else {
        document.documentElement.classList.add('dark');
      }
    </script>
  </head>
  <body class="bg-slate-50 dark:bg-[#030712] transition-colors duration-300">
    <slot />
  </body>
</html>